$primary: #173e43;
$primary_hover: #20535a;
$secondary: #3fb0ac;
$link: #dab73c;
$text: #dddfd4;
$grey: #ddd;
$grey_light: rgba(248, 244, 244, 0.658);
$grey_dark: #888;

.gap {
    padding: 20px 0 !important;
    &-small{
        padding: 10px 0 !important;
    }
}

.main {
    background: $grey;
    padding: 0 30px;
    .home, .work-experiences, .projects {
        background: white;
        padding: 30px 0;
    }
    .title {
        font-size: 30px;
        font-weight: bold;
        color: $link;
        &-description {
            color: $grey_dark;
        }
    }
}

.btn {
    padding: 7px 15px;
    &-primary {
        background: $primary !important;
        border: 1px solid $primary_hover;
        &:hover {
            background: $primary_hover !important;
        }
    }
    &-social {
        border: 1px solid $primary;
        color: $primary;
        padding: 5px 20px;
        min-width: 150px;
        margin: 0 3px;
        &:hover {
            background: $primary;
            color: white;
            .icon {
                color: $link;
            }
        }
        .icon {
            font-size: 40px;
        }
        .name {
            font-size: 15px;
        }
    }
}

.card {
    padding: 20px;
    border: 1px solid $grey;
    box-shadow: 5px 5px 10px $grey;
    margin-bottom: 10px;
    &-title {
        color: $primary;
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 5px;
    }
    &-body {
        .date {
            color: $grey_dark;
        }
    }
}

.badge {
    padding: 5px 10px;
    background: $primary;
    margin: 2px 4px;
}

@media screen and (max-width: 500px) {
    body {
        font-size: 14px !important;
        .main {
            padding: 0;
        }
        .gap {
            padding: 10px 0 !important;
            &-small {
                padding: 5px 0 !important;
            }
        }
    }
}
@media screen and (min-width: 500px) and (max-width: 1000px) {
    body {
        font-size: 15px !important;
        
        .gap {
            padding: 10px 0 !important;
            &-small {
                padding: 6px 0 !important;
            }
        }
    }
}
@media screen and (min-width: 1000px) and (max-width: 1200px) {
    body {
        .gap {
            padding: 15px 0 !important;
            &-small {
                padding: 9px 0 !important;
            }
        }
    }
}
@media screen and (min-width: 1200px) {
    body {
        
        .gap {
            padding: 20px 0 !important;
            &-small {
                padding: 12px 0 !important;
            }
        }
    }
}